.header {
  background-color: #ffe501;
  width: 100%;
  z-index: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.container > img {
  width: 15%;
  height: 80px;
}
